.about_us {
    padding: 100px 0px;
    background-image: url(../image/menu-bg.png);
    background-size: cover;

    .left {
        text-align: center;

        h3 {
            font-size: 36px;
            font-family: $heading;
            color: rgb(204, 153, 0);
            margin-bottom: 2rem;
        }

        p {
            margin: 2rem 0;
            font-family: $text;
            font-size: 16px;
            color: rgb(76, 76, 76);
            line-height: 1.5;
        }
    }
}
