
 .booking_area{
   padding: 100px 0px;
  .booking_content{
     .booking_content_header{
       text-align: center;
       h4{
         font-weight: 400;
        font-family: $heading;
         font-size: 1.5rem;
         color: $primary;
         padding-bottom: 1rem;
       }
       p{
         text-align: center;
         padding: 1rem 1.5rem;
       }
     }

   }
   .btn{
       width: 180px;
      position: relative;
      top:50%;
       left:50%;
       transform: translateX(-50%);
       background-color: rgba(204, 153, 0, 0.82);
       border:none;
       outline: none;
       border-radius: 0px;
       margin-top: 3rem;
       transition: .2s ease-in-out;
       &:hover{
         background-color: $primary;
       }
       &:focus{
         background-color:$primary;
         border:none;
         outline: none;
       }

     }
 }

.form-group{
  input{
    border-width: 2px 0px;
    border-radius: 0px;
    outline: none;
    border-color: #cc9900;
    &:focus{
      border-color: #cc9900;
    }
    &::-webkit-input-placeholder {
     color:#black;
     font-style: italic;
     font-weight: normal;
  }

  }
  label{
    color: $primary;
    padding: 1rem 0rem .5rem 0rem;
  }

}
