.element {
    min-height: 400px;
    background: transparent;

    .element-box {
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 5rem;
        ul{
          margin-bottom: 2rem;
          li{
            display: inline-block;
            margin: 0rem 1rem;
          }
        }
        h3{
        font-size: 36px;
        font-family: $heading;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        margin: 4rem 0rem 2rem 0rem;
        }
        p{
          margin: 2rem 0rem 5rem 0rem;
          @include stext;
        }
    }
}
