.element {
    background: transparent;
    padding: 100px 0;

    .element-box {
        background: rgba(0, 0, 0, 0.6);
        text-align: center;

        .element-img {
            text-align: center;

            img {
                width: 25%;
                padding: 1rem 1rem 2rem 0;
            }
        }

        h3 {
            font-size: 36px;
            font-family: $heading;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            padding: 2rem 0 1rem;
        }

        p {
            @include stext;
            padding: 2rem 0;
        }
    }
}
