@import url("https://fonts.googleapis.com/css?family=Yeseva+One");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
header {
  background-image: url("../image/header-bg.jpg");
  background-size: cover; }

.navbar-light .navbar-nav .nav-link {
  color: #f5f6f6; }

.navbar-light .navbar-toggler {
  border: none;
  outline: none; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #fff; }

.nav-link {
  font-family: "Gentium Book Basic", serif;
  font-size: 18px;
  color: #f5f6f6;
  font-weight: bold;
  line-height: 1.2; }
  .nav-link i {
    color: #cc9900;
    padding: 0 5px; }
  .nav-link:hover {
    color: #cc9900; }

.navbar {
  padding: 0; }

.nav-item {
  transition: 0.2s ease;
  padding-top: 20px; }
  @media (min-width: 992px) {
    .nav-item {
      border-top: 1px solid rgba(255, 255, 255, 0); }
      .nav-item:hover {
        border-top: 2px solid white; } }
  .nav-item:last-child {
    border: none; }

.jumbotron {
  background: none;
  color: #fff;
  text-align: center; }
  .jumbotron h1 {
    font-family: "Yeseva One", cursive;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.922);
    line-height: 1.2; }
    @media (min-width: 992px) {
      .jumbotron h1 {
        font-size: 5em; } }
  .jumbotron img {
    margin: 3rem 0; }
  .jumbotron .btn-primary:first-child {
    background: none;
    border-radius: 0px;
    border: none;
    width: 9rem;
    outline: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4);
    margin-right: 10px; }
  .jumbotron .btn-primary:last-child {
    background: none;
    border-radius: 0px;
    border: none;
    width: 9rem;
    outline: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.4); }

.about_us {
  margin-top: 5rem; }
  .about_us .left {
    text-align: center; }
    .about_us .left h3 {
      font-size: 36px;
      font-family: "Yeseva One", cursive;
      color: #cc9900;
      margin-bottom: 2rem; }
    .about_us .left p {
      margin: 2rem 0;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: #4c4c4c;
      line-height: 1.5; }

.element {
  min-height: 400px;
  background: transparent; }
  .element .element-box {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 5rem; }

* {
  margin: 0;
  padding: 0; }
