@import url("https://fonts.googleapis.com/css?family=Yeseva+One");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0; }

header {
  background-image: url("../image/header-bg.jpg");
  background-size: cover; }

.navbar-light .navbar-nav .nav-link {
  color: #f5f6f6; }

.navbar-light .navbar-toggler {
  border: none;
  outline: none; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #fff; }

.nav-link {
  font-family: "Gentium Book Basic", serif;
  font-size: 18px;
  color: #f5f6f6;
  font-weight: bold;
  line-height: 1.2; }
  .nav-link i {
    color: #cc9900;
    padding: 0 5px; }
  .nav-link:hover {
    color: #cc9900; }

.navbar {
  padding: 0; }

.nav-item {
  transition: 0.2s ease;
  padding-top: 20px; }
  .nav-item a {
    cursor: pointer; }
  @media (min-width: 992px) {
    .nav-item {
      border-top: 1px solid rgba(255, 255, 255, 0); }
      .nav-item:hover {
        border-top: 2px solid white; } }
  .nav-item:last-child {
    border: none; }

.jumbotron {
  background: none;
  color: #fff;
  text-align: center; }
  .jumbotron h1 {
    font-family: "Yeseva One", cursive;
    color: rgba(255, 255, 255, 0.922);
    line-height: 1.2; }
    @media (min-width: 992px) {
      .jumbotron h1 {
        font-size: 5em; } }
  .jumbotron img {
    margin: 3rem 0; }
  .jumbotron .btn-primary:first-child {
    background: none;
    border-radius: 0;
    border: none;
    width: 9rem;
    outline: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.4); }
    .jumbotron .btn-primary:first-child:hover {
      background-color: #000; }
    @media only screen and (max-width: 352px) {
      .jumbotron .btn-primary:first-child {
        margin-bottom: 1rem; } }
  .jumbotron .btn-primary:last-child {
    background: none;
    border-radius: 0;
    border: none;
    width: 9rem;
    outline: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.4); }
    .jumbotron .btn-primary:last-child:hover {
      background-color: #fff;
      color: #000;
      font-weight: bold; }

.about_us {
  padding: 100px 0;
  background-image: url("../image/menu-bg.png");
  background-size: cover; }
  .about_us .left {
    text-align: center; }
    .about_us .left h3 {
      font-size: 36px;
      font-family: "Yeseva One", cursive;
      color: #cc9900;
      margin-bottom: 2rem; }
    .about_us .left p {
      margin: 2rem 0;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: #4c4c4c;
      line-height: 1.5; }

.element {
  background: transparent;
  padding: 100px 0; }
  .element .element-box {
    background: rgba(0, 0, 0, 0.6);
    text-align: center; }
    .element .element-box .element-img {
      text-align: center; }
      .element .element-box .element-img img {
        width: 25%;
        padding: 1rem 1rem 2rem 0; }
    .element .element-box h3 {
      font-size: 36px;
      font-family: "Yeseva One", cursive;
      color: white;
      line-height: 1.2;
      padding: 2rem 0 1rem; }
    .element .element-box p {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: white;
      line-height: 1.5;
      padding: 2rem 0; }

.menu_area {
  background-image: url("../image/menu-bg.png");
  background-size: cover;
  padding: 100px 0;
  text-align: center; }
  .menu_area h3 {
    font-size: 36px;
    font-family: "Yeseva One", cursive;
    color: #cc9900;
    line-height: 0.667;
    text-align: center;
    padding-bottom: 1rem; }
  .menu_area img {
    padding-bottom: 1rem; }
  .menu_area hr {
    clear: both; }
  .menu_area p {
    text-align: left;
    font-family: "Lato", sans-serif; }
  .menu_area h5 {
    font-size: 21px;
    font-family: "Yeseva One", cursive;
    color: #c89f2d;
    line-height: 1.143;
    text-align: justifyAll; }
  .menu_area span {
    font-family: "Yeseva One", cursive;
    color: #cc9900; }

.single_menu_item {
  padding: 0.3rem 1rem;
  position: relative; }

.menu_item_left_top {
  margin-bottom: 3rem; }

.menu_item_right_top {
  margin-bottom: 2rem; }

.special {
  border: 1px solid #cc9900; }
  .special:after {
    content: 'Special';
    position: absolute;
    font-family: "Lato", sans-serif;
    color: #fff;
    right: 0;
    top: -23px;
    background-color: #cc9900;
    width: 70px;
    height: 22px; }

.testimonial {
  background-image: url(../image/testimonial-bg.jpg);
  background-size: cover;
  padding: 100px 0px;
  background-attachment: fixed; }

.testimonial_inner_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem 1rem; }
  .testimonial_inner_area .testimonial_header {
    padding-bottom: 2rem; }
    .testimonial_inner_area .testimonial_header h3 {
      font-family: "Yeseva One", cursive;
      margin-bottom: 2rem; }
  .testimonial_inner_area .owl-item p {
    font-family: "Lato", sans-serif;
    line-height: 30px; }
  .testimonial_inner_area .owl-item p:before {
    content: "\f10d";
    font-family: fontawesome;
    color: #cc9900;
    font-weight: 400;
    font-size: 2rem; }
  .testimonial_inner_area .owl-item span {
    text-align: center;
    display: block;
    font-weight: 400; }

.booking_area {
  padding: 100px 0;
  background-image: url("../image/menu-bg.png");
  background-size: cover; }
  .booking_area .booking_content .booking_content_header {
    text-align: center; }
    .booking_area .booking_content .booking_content_header h4 {
      font-weight: 400;
      font-family: "Yeseva One", cursive;
      font-size: 1.5rem;
      color: #cc9900;
      padding-bottom: 1rem; }
    .booking_area .booking_content .booking_content_header p {
      text-align: center;
      padding: 1rem 1.5rem; }
  .booking_area .btn {
    width: 180px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(204, 153, 0, 0.82);
    border: none;
    outline: none;
    border-radius: 0;
    margin-top: 3rem;
    transition: 0.2s ease-in-out; }
    .booking_area .btn:hover {
      background-color: #cc9900; }
    .booking_area .btn:focus {
      background-color: #cc9900;
      border: none;
      outline: none; }

.form-group input {
  border-width: 2px 0;
  border-radius: 0;
  outline: none;
  border-color: #cc9900; }
  .form-group input:focus {
    border-color: #cc9900; }
  .form-group input::-webkit-input-placeholder {
    color: #black;
    font-style: italic;
    font-weight: normal; }

.form-group label {
  color: #cc9900;
  padding: 1rem 0 0.5rem; }

@media only screen and (max-width: 768px) {
  .booking_image {
    text-align: center; } }

.booking_image img {
  margin-bottom: 40px; }

footer {
  background-color: #191919;
  text-align: center;
  color: #dedede; }
  footer .about h4 {
    padding: 2rem 0 1rem; }
  footer .about p {
    padding: 1rem; }
  footer .opening h4 {
    padding: 2rem 0 1rem; }
  footer .opening .divider {
    padding-bottom: 1rem; }
  footer .opening p span {
    font-weight: bold; }
  footer .opening ul {
    list-style: none;
    padding: 1rem 0;
    cursor: pointer; }
    footer .opening ul li {
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      transition: 2s ease-in-out; }
      footer .opening ul li:hover i {
        color: #cc9900; }
  footer .location h4 {
    padding: 2rem 0 1rem; }
  footer .location .divider {
    padding-bottom: 1rem; }
  footer .location ul {
    list-style: none;
    padding: 1rem 0; }
    footer .location ul li {
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      cursor: pointer;
      transition: 2s ease-in-out; }
      footer .location ul li:hover i {
        color: #cc9900; }
